html, body {
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #000;
  text-align: center;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Courier New", monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 0 20px;
}

.header-home img {
  width: 80px;
  margin-bottom: 15px;
}

.header h1 {
  font-size: 28px;
  margin: 0;
  cursor: pointer;
}

.header a {
  color: #f9f9f9;
  text-decoration: none;
}

.header a:hover {
  background-color: transparent;
  color: #f9f9f9;
  text-decoration: none;
}


.header-info {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.header-info span {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

nav ul li {
  display: block;
  margin: 10px 0;
}

footer {
  background-color: #000;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer nav ul li {
  margin: 10px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 60px;
}


.manifesto-container {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
  line-height: 1.6;
  overflow: hidden;
}

header {
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 24px;
  }

  .header-info span {
    font-size: 12px;
  }

  .manifesto-container {
    max-width: 90%;
    padding: 20px;
    margin-top: 20px;
  }

  footer {
    position: relative;
    padding: 10px;
  }

  footer nav ul {
    flex-direction: column;
  }

  footer nav ul li {
    margin: 5px 0;
  }
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

a:hover {
  background-color: #ff5555;
  color: #ffffff;
  text-decoration: none;
}

.entry {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: #f9f9f9;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 12px;
  border: 2px solid #f00;
  border-radius: 8px;
  margin: 15px 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.log-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.log-severity {
  font-weight: bold;
}

.Critical {
  color: #f00;
}

.form-group {
  width: 100%;
  max-width: 400px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #ff3333;
}

.warning {
  color: #caa73b;
}

.button-container {
  width: 100%;
  max-width: 400px;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.button-container button {
  width: 50%;
}

.active-link {
  color: #ff5555;
  pointer-events: none;
  font-weight: bold;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 70vH;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.home-footer {
  text-align: center;
  font-size: 10px;
  padding: 10px;
}
